huber Regression

In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

In [2]:
df=pd.read_csv("C:\\Users\\choud\\Desktop\\jupter_files\\weather.csv",names=['datetime_utc','conds','dewptm','fog','hail','heatindexm','hum','precipm','pressurem','rain','snow','tempm','thunder','tornado','vism','wdird','wdire','wgustm','windchillm','wspdm'],index_col=False)

C:\Users\choud\AppData\Local\Temp\ipykernel_7360\4075295294.py:1: DtypeWarning: Columns (2,3,4,5,6,7,8,9,10,11,12,13,14,15,17,18,19) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv("C:\\Users\\choud\\Desktop\\jupter_files\\weather.csv",names=['datetime_utc','conds','dewptm','fog','hail','heatindexm','hum','precipm','pressurem','rain','snow','tempm','thunder','tornado','vism','wdird','wdire','wgustm','windchillm','wspdm'],index_col=False)

In [3]:
df.head(5)

,datetime_utc,conds,dewptm,fog,hail,heatindexm,hum,precipm,pressurem,rain,snow,tempm,thunder,tornado,vism,wdird,wdire,wgustm,windchillm,wspdm
0,datetime_utc,_conds,_dewptm,_fog,_hail,_heatindexm,_hum,_precipm,_pressurem,_rain,_snow,_tempm,_thunder,_tornado,_vism,_wdird,_wdire,_wgustm,_windchillm,_wspdm
1,19961101-11:00,Smoke,9,0,0,NaN,27,NaN,1010,0,0,30,0,0,5,280,West,NaN,NaN,7.4
2,19961101-12:00,Smoke,10,0,0,NaN,32,NaN,-9999,0,0,28,0,0,NaN,0,North,NaN,NaN,NaN
3,19961101-13:00,Smoke,11,0,0,NaN,44,NaN,-9999,0,0,24,0,0,NaN,0,North,NaN,NaN,NaN
4,19961101-14:00,Smoke,10,0,0,NaN,41,NaN,1010,0,0,24,0,0,2,0,North,NaN,NaN,NaN

In [4]:
df.drop([0],inplace=True)

In [5]:
df.head(5)

,datetime_utc,conds,dewptm,fog,hail,heatindexm,hum,precipm,pressurem,rain,snow,tempm,thunder,tornado,vism,wdird,wdire,wgustm,windchillm,wspdm
1,19961101-11:00,Smoke,9,0,0,NaN,27,NaN,1010,0,0,30,0,0,5,280,West,NaN,NaN,7.4
2,19961101-12:00,Smoke,10,0,0,NaN,32,NaN,-9999,0,0,28,0,0,NaN,0,North,NaN,NaN,NaN
3,19961101-13:00,Smoke,11,0,0,NaN,44,NaN,-9999,0,0,24,0,0,NaN,0,North,NaN,NaN,NaN
4,19961101-14:00,Smoke,10,0,0,NaN,41,NaN,1010,0,0,24,0,0,2,0,North,NaN,NaN,NaN
5,19961101-16:00,Smoke,11,0,0,NaN,47,NaN,1011,0,0,23,0,0,1.2,0,North,NaN,NaN,0

In [6]:
df.drop(['conds','datetime_utc','windchillm','wgustm','precipm','heatindexm','wdire','wdird','thunder','tornado','fog','hail','wspdm','rain','snow' ],axis=1,inplace=True)

In [7]:
df

       dewptm   hum pressurem tempm vism
1           9    27      1010    30    5
2          10    32     -9999    28  NaN
3          11    44     -9999    24  NaN
4          10    41      1010    24    2
5          11    47      1011    23  1.2
...       ...   ...       ...   ...  ...
100986   17.0  25.0    1005.0  34.0  4.0
100987   14.0  16.0    1003.0  38.0  4.0
100988   12.0  14.0    1002.0  36.0  4.0
100989   15.0  27.0    1004.0  32.0  2.0
100990   15.0  30.0    1005.0  30.0  2.0

[100990 rows x 5 columns]

In [8]:
df["dewptm"] = df["dewptm"].astype(float)
df["hum"] = df["hum"].astype(float)
df["pressurem"] = df["pressurem"].astype(float)
df["tempm"] = df["tempm"].astype(float)

In [9]:
df["pressurem"].replace(-9999,np.median(df["pressurem"]),inplace=True)
df["pressurem"].fillna((np.mean(df["pressurem"]))/2,inplace=True)

C:\Users\choud\AppData\Local\Temp\ipykernel_7360\780649907.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["pressurem"].replace(-9999,np.median(df["pressurem"]),inplace=True)
C:\Users\choud\AppData\Local\Temp\ipykernel_7360\780649907.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["pressurem"].fillna((np.mean(df["pressurem"]))/2,inplace=True)

In [10]:
from sklearn.model_selection import train_test_split
from sklearn.impute import KNNImputer
from sklearn.linear_model import HuberRegressor
from sklearn.linear_model import LinearRegression
from sklearn.metrics import accuracy_score

# sklearn.linear_model.HuberRegressor

In [11]:
knn=KNNImputer(n_neighbors=10,weights='distance')
df_trans=knn.fit_transform(df)

In [24]:
df_trans

array([[   9.        ,   27.        , 1010.        ,   30.        ,
           5.        ],
       [  10.        ,   32.        , 1010.96448649,   28.        ,
           3.22      ],
       [  11.        ,   44.        , 1010.96448649,   24.        ,
           2.85      ],
       ...,
       [  12.        ,   14.        , 1002.        ,   36.        ,
           4.        ],
       [  15.        ,   27.        , 1004.        ,   32.        ,
           2.        ],
       [  15.        ,   30.        , 1005.        ,   30.        ,
           2.        ]])

In [12]:
new_df=pd.DataFrame(df_trans)
new_df.rename(columns={new_df.columns[0]:'dewptm',new_df.columns[1]:'hum',new_df.columns[2]:'pressurem',new_df.columns[3]:'tempm',new_df.columns[4]:'vism'},inplace=True)
new_df.head(10)

   dewptm   hum    pressurem  tempm  vism
0     9.0  27.0  1010.000000   30.0  5.00
1    10.0  32.0  1010.964486   28.0  3.22
2    11.0  44.0  1010.964486   24.0  2.85
3    10.0  41.0  1010.000000   24.0  2.00
4    11.0  47.0  1011.000000   23.0  1.20
5    12.0  56.0  1011.000000   21.0  2.27
6    13.0  60.0  1010.000000   21.0  0.80
7    13.0  60.0  1010.964486   21.0  2.19
8    13.0  68.0  1010.964486   19.0  3.15
9    13.0  68.0  1010.000000   19.0  2.45

In [13]:
x=new_df.drop(["hum"],axis=1)
y=new_df["hum"]

In [14]:
x_train, x_test, y_train, y_test=train_test_split(x,y,test_size=0.3)

In [15]:
lr=LinearRegression()
hr=HuberRegressor()

In [16]:
x_train

       dewptm  pressurem  tempm  vism
90010    15.0     1020.0   16.0  1.00
28011    23.0     1007.0   26.0  3.00
38163    20.0     1010.0   25.0  1.20
45254    26.0     1005.0   28.0  2.74
26096    15.0     1000.0   32.0  3.00
...       ...        ...    ...   ...
59497    21.0     1002.0   37.0  3.28
37595    24.0     1008.0   27.0  3.50
68836    11.0     1010.0   33.0  4.00
58174    16.0     1009.0   22.0  2.50
16860     7.0     1016.0   20.0  2.20

[70693 rows x 4 columns]

In [17]:
# x_train_trans=knn.fit_transform(x_train)
# x_train_trans=knn.fit_transform(x_test)
# y_train_trans=knn.fit_transform(y_train)
# y_test_trans=knn.fit_transform(y_test)

In [18]:
# y_train_trans

In [19]:
hr.fit(x_train,y_train)

y_hr_pred=hr.predict(x_test)

In [20]:
y_hr_pred

array([0.00016172, 0.00016088, 0.00016169, ..., 0.00016043, 0.00016047,
       0.00015947])

In [21]:
y_test

84829    50.0
22969    82.0
7162     54.0
58143    40.0
36259    39.0
         ...
24431    42.0
88014    69.0
91248    25.0
9010     45.0
91366    63.0
Name: hum, Length: 30297, dtype: float64

In [22]:
# from sklearn.model_selection import cross_val_score
# print(np.mean(cross_val_score(hr,x,y,scoring='accuracy',cv=10)))

In [25]:
# print("Accuracy : ",accuracy_score(y_test,y_hr_pred))

In [ ]:
lr.fit(x_train,y_train)
y_lr_pred=lr.predict(x_test)

In [ ]:
y_lr_pred

In [ ]:
# print("Accurecy lr ",accuracy_score(y_test,y_lr_pred))